/********************************************************************************************************************************************************/

/***********
***COLORS***
************/

$mtRed: #e11b22;
$mtWhite: #fff;
$mtBlue: #018ab1;
$mtBronze: #a27151;
$mtSilver: #ccc;
$mtPlatinum: #a4adaf;
$mtGold: #ad8d55;
$mtOffWhite: #d7d7d7;
$mtLightGrey: #ccc;
$mtMidGrey: #9c9c9c;
$mtMedGrey: #666;
$mtDarkGrey: #999;
$mtBlack: #222;
$mtOrange: #e27100;

/************
***BUTTONS***
*************/

/*Standard Multiply Buttons
***************************/

$redBtnColor: #e11b22;
$blueBtnColor: #018ab1;
$whiteBtnColor: #fff;
$darkGreyBtnColor: #999;
$lightGreyBtnColor: #ccc;
$blackBtnColor: #222;
$orangeBtnColor: #e27100;

/*Standard Button Border Radius
*******************************/

$stdBorderRadius: 50px;

/*Status Multiply Buttons
*************************/

$bronzeBtnColor:#a27151;
$silverBtnColor: #ccc;
$platinumBtnColor: #a4adaf;
$goldBtnColor: #ad8d55;
$privateBtnColor: #e11b22;

/*Dashboard Buttons
********************/

$fWBtnColor: #006f78;
/*Financial Wellness Score*/

$hHSBtnColor: #f26522;
/*Healthy Heart Score*/

$aDBtnColor: #0d8cb2;
/*Active Dayz*/

$sDBtnColor: #e11b22;
/*Safe Dayz*/

/***************
***NAVIGATION***
***************/

/***********
***FOOTER***
************/

$socialBtnColor: #9c9c9c;
/*i.e the social icons in the footer of the website*/

$primaryNavBgColor: #ccc;
/*i.e the color of the footer container*/

/**********
***LINKS***
***********/

$primaryLinkColor: #e11b22;
$secondaryLinkColor: #999;
$tertiaryLinkColor: #222;
$quaternaryLinkColor: #666;

/***************
***BAKCGROUND***
****************/

$whiteBgColor: #fff;
$redBgColor: #e11b22;
$primaryGreyBgColor: #ededed;
$secondaryGreyBgColor: #d7d7d7;

/********************************************************************************************************************************************************/

.float-right,
.float-right a,
.float-right-p {
    display: block;
    float: right;
}

/*****************
*****PALLETTE*****
******************/

.colorPallette div p {
    padding: 2rem;
    transition: all 0.5s ease;
    &:hover {
        transform: scale(1.1);
    }
}

.mtRed {
    background-color: $mtRed;
}

.mtWhite {
    background-color: $mtWhite;
}

.mtBlue {
    background-color: $mtBlue;
}

.mtBronze {
    background-color: $mtBronze;
}

.mtSilver {
    background-color: $mtSilver;
}

.mtPlatinum {
    background-color: $mtPlatinum;
}

.mtGold {
    background-color: $mtGold;
}

.mtOffWhite {
    background-color: $mtOffWhite;
}

.mtLightGrey {
    background-color: $mtLightGrey;
}

.mtMidGrey {
    background-color: $mtMidGrey;
}

.mtMedGrey {
    background-color: $mtMedGrey;
}

.mtDarkGrey {
    background-color: $mtDarkGrey;
}

.mtBlack {
    background-color: $mtBlack;
    color: white;
}

.mtOrange {
    background-color: $mtOrange;
}

/********************************************************************************************************************************************************/

/****************
*****BUTTONS*****
*****************/

/*MULTIPLY BUTTON SHAPING AND ANIMATION
**************************************/

.mtBtn {
    text-align: center;
    margin: 2rem 0rem;
}

.mtBtn a {
    border-radius: $stdBorderRadius;
    text-shadow: none;
    padding: 10px 40px;
    transition: 0.5s;
    min-width: 13rem;
    &:hover {
        border-radius: $stdBorderRadius;
        text-shadow: none;
        padding: 10px 40px;
        transition: 0.5s;
        min-width: 13rem;
    }

}

.modal-backdrop.in {
    z-index: 1;
}

[class^="icn-"],
[class*=" icn-"] {
    font-size: 15px;
}

.viewOnlineProfile a.viewOnlineProfileBtn {
    font-size: 15px !important;
    color: #999;
}

.hideViewOnlineProfile {
    display: none !important;
}

.showOnlineProfile {
    display: block;
}


@media only screen and (max-width: 1092px) {

    .mtBtn a {
        font-size: 0.7rem;
    }

}

@media only screen and (max-width: 992px) {

    .mtBtn a {
        font-size: 0.7rem;
    }

    .mtBtn,
    .sectionButtons,
    .sectionButton {
        text-align: center!important;
    }
    /*Buttons Will Align Center On SM and XS Resolutions*/
}


/*STANDARD MULTIPLY BUTTONS
****************************/

.primaryBtn a {
    background-color: $redBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $redBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $redBtnColor;
        color: $redBtnColor;
        text-decoration: none;
    }
}

.secondaryBtn a {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $blackBtnColor;
    &:hover {
        background-color: $redBtnColor;
        border: 1px solid $darkGreyBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.tertiaryBtn a {
    background-color: $blueBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $blueBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $blueBtnColor;
        color: $blueBtnColor;
        text-decoration: none;
    }
}

/*STATUS MULTIPLY BUTTONS
**************************/

.bronzeBtn a {
    background-color: $bronzeBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $bronzeBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $bronzeBtnColor;
        color: $bronzeBtnColor;
        text-decoration: none;
    }
}

.silverBtn a {
    background-color: $silverBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $darkGreyBtnColor;
        color: $darkGreyBtnColor;
        text-decoration: none;
    }
}

.goldBtn a {
    background-color: $goldBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $goldBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $goldBtnColor;
        color: $goldBtnColor;
        text-decoration: none;
    }
}

.platinumBtn a {
    background-color: $platinumBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $platinumBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $platinumBtnColor;
        color: $platinumBtnColor;
        text-decoration: none;
    }
}

.privateBtn a {
    background-color: $privateBtnColor;
    color: $whiteBtnColor;
    border: 1px solid $privateBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $privateBtnColor;
        color: $privateBtnColor;
        text-decoration: none;
    }
}

/*DASHBOARD MULTIPLY BUTTONS
****************************/

.btnFW a {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $fWBtnColor;
        border: 1px solid $fWBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.btnHHS a {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $hHSBtnColor;
        border: 1px solid $hHSBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.btnAD a {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $aDBtnColor;
        border: 1px solid $aDBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.btnSD a {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $sDBtnColor;
        border: 1px solid $sDBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

/*Other Multiply Buttons
************************/

.mtOrangeBtn a {

    background-color: $orangeBtnColor;
    border: 1px solid $orangeBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $orangeBtnColor;
        color: $orangeBtnColor;
        text-decoration: none;
    }
}

.mtTableBtn {
    padding: 1rem;
    a {
        color: $mtBlack;
        transition: all 0.3s ease;
        .glyphicon {
            font-size: 1.5rem;
        }
        &:hover {
            color: $mtDarkGrey;
            text-decoration: none;
        }
    }
}

/**********************
***Headings & Titles***
**********************/

.titleRed {
    color: $mtRed;
}

.titleBlue {
    color: $mtBlue;
}

.titleGrey {
    color: $mtLightGrey;
}

.hrRedLight {
    border-color: $mtRed;
}

.hrBlueLight {
    border-color: $mtBlue;
}

.hrGreyLight {
    border-color: $mtDarkGrey;
}

.hrRedHeavy {
    border: 1px solid $mtRed;
}

.hrBlueHeavy {
    border: 1px solid $mtBlue;
}

.hrGreyHeavy {
    border: 1px solid $mtLightGrey;
}

/********************************************************************************************************************************************************/

/*************************   This contains the styles that are used to display the banner at the top of the page. The banner contains the
**********BANNER**********   logo, navigation, actions menu, search, and profile menu. This is a good place to begin customizing the
**************************   look of your theme */

/*** General Banner Styling ***
*******************************/

/****************
Multiply Header*/

.multiplyHeader {
    padding: 0px!important;
    width: 100%;
}

.headerThumbnail {
    position: relative;
    img {
        display: block;
        width: 100%!important;
        height: auto;
        margin-bottom: 1rem;
    }
}

.headerTitle h1 {
    position: absolute;
    top: 5%;
    color: $mtWhite;
}

.headerSubTitle h3 p {
    position: absolute;
    top: 5rem;
    color: $mtWhite;
    font-size: 1rem;
}

.headerButton a {
    position: absolute;
    top: 8rem;
}

@media screen and (max-width: 1201px) {

    .headerButton a {
        position: relative;
        top: 0px;
    }

}

@media screen and (max-width: 1201px) {

    .bannerButton a {
        position: relative;
        top: 0px;
        margin-top: 0.5rem;
    }

}

@media screen and (max-width: 843px) {

    .headerSubTitle h3 p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 755px) {

    .headerTitle h1 {
        font-size: 1.5rem;
    }
    .headerSubTitle h3 p {
        top: 4rem;
    }

}

@media screen and (max-width: 640px) {

    .headerSubTitle h3 p {
        font-size: 0.6rem;
    }

}

@media screen and (max-width: 425px) {

    .headerTitle h1 {
        font-size: 1rem;
    }

}

/* Multiply Header 
******************/

/******************
Multiply Ad Banner*/

.multiplyBanner {
    padding: 0px!important;
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
}

.bannerThumbnail {
    position: relative;
    img {
        display: block;
        width: 100%!important;
        height: auto;
    }
}

.bannerTitle h1 {
    position: absolute;
    top: 5%;
    color: $mtWhite;
}

.bannerSubTitle h3 p {
    position: absolute;
    top: 5rem;
    color: $mtWhite;
    font-size: 1rem;
}

.bannerButton a {
    position: absolute;
    top: 8rem;
}

@media screen and (max-width: 1201px) {

    .bannerButton a {
        position: relative;
        top: 0px;
        margin-top: 0.5rem;
    }

}

@media screen and (max-width: 843px) {

    .bannerSubTitle h3 p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 755px) {

    .bannerTitle h1 {
        font-size: 1.5rem;
    }
    .bannerSubTitle h3 p {
        top: 4rem;
    }

}

@media screen and (max-width: 640px) {

    .bannerSubTitle h3 p {
        font-size: 0.6rem;
    }

}

@media screen and (max-width: 425px) {

    .bannerTitle h1 {
        font-size: 1rem;
    }

}

/*Multiply Ad Banner
********************/

/********************************************************************************************************************************************************/

/****************    This contains the styles that are used to display the content on the page.
*****CONTENT*****
*****************/

/*** General Content Styling ***
*******************************/

.stMainContent {
    padding: 0 0 25px;
}

/***************************************
Presentation Templates general Styling*/

.sectionContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionHeader {
    color: black;
}

.sectionContent {
    /**/
}

.sectionImage {
    /**/
}

/*Presentation Templates general Styling
***************************************/

/*Multiply 4 Pillars
*******************/

span.glyphicon {
    font-size: 3rem;
}

.badge {
    background-color: transparent;
    color: $mtMedGrey;
    border: 1px solid $mtMedGrey;
    padding: 2.5rem;
    border-radius: 100%;
    transition: all 0.5s ease;
    &:hover {
        color: $mtWhite;
        background-color: $mtRed;
    }
}

.sectionTitle {
    color: $mtBlack;
}

.pillarsTitle,
.pillarsParagraphe {
    min-height: 3rem;
}

.pillarsButton {
    margin-bottom: 3rem;
}

.pillarsButton a {
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/******************
Multiply 4 Pillars*/

/**************
Content Logos*/

.partnerTitle {
    color: black;
}

.partnerLogo a img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 25px;
    &:hover {
        transform: scale(1.1);
        border: 1px solid $secondaryGreyBgColor;
        background-color: $primaryGreyBgColor;
        border-radius: 25px;
        padding: 1rem;
    }
}

/*Partner Images Expand and Change Color On Hover*/

.mtOrangeBtn {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mtPartnerLink {
    padding: 1rem;
}

@media only screen and (max-width: 991px) {
    .mtPartnerLink,
    .mtOrangeBtn {
        text-align: center!important;
    }
}

/* Partner Links and Buttons Center on the Screen in smaller Resolutions*/

/*Content Logos
***************/

/********************************************************************************************************************************************************/

/**************
Multiply Bars*/

.mtRedBar {
    background-color: $mtRed;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.mtBlueBar {
    background-color: $mtBlue;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.mtGreyBar {
    background-color: $mtDarkGrey;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}
