/*VARIABLES
************/

/*Standard Multiply Buttons*/

$redBtnColor: #e11b22;
$blueBtnColor: #018ab1;
$whiteBtnColor: #fff;
$darkGreyBtnColor: #999;
$lightGreyBtnColor: #ccc;
$blackBtnColor: #222;

/*Status Multiply Buttons*/

$bronzeBtnColor:#a27151;
$silverBtnColor: #ccc;
$platinumBtnColor: #a4adaf;
$goldBtnColor: #ad8d55;
$privateBtnColor: #e11b22;

/*Dashboard Buttons*/

$fWBtnColor: #006f78;
/*Financial Wellness Score*/

$hHSBtnColor: #f26522;
/*Healthy Heart Score*/

$aDBtnColor: #0d8cb2;
/*Active Dayz*/

$sDBtnColor: #e11b22;
/*Safe Dayz*/

/****************************
***Multiply Color Pallette***
*****************************/

$mtRed:#e11b22;
$mtWhite:#fff;
$mtBlue:#018ab1;
$mtbronze:#a27151;
$mtSilver:#ccc;
$mtPlatinum:#a4adaf;
$mtGold:#ad8d55;
$mtOffWhite:#d7d7d7;
$mtLightGrey:#ccc;
$mtMidGrey:#9c9c9c;
$mtMedGrey:#666;
$mtDarkGrey:#999;
$mtBlack:#222;

.mtRed{
    background-color: $mtRed;
    font-weight: bold;
    padding: 3rem;
}
.mtWhite{
    background-color: $mtWhite;
    font-weight: bold;
    padding: 3rem;
}
.mtBlue{
    background-color: $mtBlue;
    font-weight: bold;
    padding: 3rem;
}
.mtbronze{
    background-color: $mtbronze;
    font-weight: bold;
    padding: 3rem;
}
.mtSilver{
    background-color: $mtSilver;
    font-weight: bold;
    padding: 3rem;
}
.mtPlatinum{
    background-color: $mtPlatinum;
    font-weight: bold;
    padding: 3rem;
}
.mtGold{
    background-color: $mtGold;
    font-weight: bold;
    padding: 3rem;
}
.mtOffWhite{
    background-color: $mtOffWhite;
    font-weight: bold;
    padding: 3rem;
}
.mtLightGrey{
    background-color: $mtLightGrey;
    font-weight: bold;
    padding: 3rem;
}
.mtMidGrey{
    background-color: $mtMidGrey;
    font-weight: bold;
    padding: 3rem;
}
.mtMedGrey{
    background-color: $mtMedGrey;
    font-weight: bold;
    padding: 3rem;
}
.mtDarkGrey{
    background-color: $mtDarkGrey;
    font-weight: bold;
    padding: 3rem;
}
.mtBlack{
    background-color: $mtBlack;
    font-weight: bold;
    padding: 3rem;
    color: $mtWhite;
}
/*MULTIPLY BUTTON SHPING AND ANIMATION
**************************************/

.btn {
    border-radius: 50px;
    text-shadow: none;
    /*text-transform: uppercase;*/
    padding: 10px 40px;
    transition: 0.5s;
    &:hover {
        border-radius: 50px;
        text-shadow: none;
        padding: 10px 40px;
        transition: 0.5s;
    }

}

/*STANDARD MULTIPLY BUTTONS
****************************/

.primaryBtn {
    background-color: $redBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $darkGreyBtnColor;
        color: $redBtnColor;
        text-decoration: none;
    }
}

.secondaryBtn {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $blackBtnColor;
    &:hover {
        background-color: $redBtnColor;
        border: 1px solid $darkGreyBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.tertiaryBtn {
    background-color: $blueBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $blueBtnColor;
        color: $blueBtnColor;
        text-decoration: none;
    }
}

/*STATUS MULTIPLY BUTTONS
**************************/

.bronzeBtn {
    background-color: $bronzeBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $bronzeBtnColor;
        color: $bronzeBtnColor;
        text-decoration: none;
    }
}

.silverBtn {
    background-color: $silverBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $darkGreyBtnColor;
        color: $darkGreyBtnColor;
        text-decoration: none;
    }
}

.goldBtn {
    background-color: $goldBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $goldBtnColor;
        color: $goldBtnColor;
        text-decoration: none;
    }
}

.platinumBtn {
    background-color: $platinumBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $platinumBtnColor;
        color: $platinumBtnColor;
        text-decoration: none;
    }
}

.privateBtn {
    background-color: $privateBtnColor;
    color: $whiteBtnColor;
    &:hover {
        background-color: $whiteBtnColor;
        border: 1px solid $privateBtnColor;
        color: $privateBtnColor;
        text-decoration: none;
    }
}

/*DASHBOARD MULTIPLY BUTTONS
****************************/

.fWBtn {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $fWBtnColor;
        border: 1px solid $fWBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.hHSBtn {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $hHSBtnColor;
        border: 1px solid $hHSBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.aDBtn {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $aDBtnColor;
        border: 1px solid $aDBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}

.sDBtn {
    background-color: $whiteBtnColor;
    border: 1px solid $darkGreyBtnColor;
    color: $darkGreyBtnColor;
    &:hover {
        background-color: $sDBtnColor;
        border: 1px solid $sDBtnColor;
        color: $whiteBtnColor;
        text-decoration: none;
    }
}
