/*VARIABLES*/
/*MULTIPLY BUTTON SHPING AND ANIMATION*/
.btn {
  border-radius: 50px;
  text-shadow: none;
  text-transform: uppercase;
  padding: 10px 40px;
  transition: 0.5s; }
  .btn:hover {
    border-radius: 50px;
    text-shadow: none;
    padding: 10px 40px;
    transition: 0.5s; }

/*STANDARD MULTIPLY BUTTONS*/
.primaryBtn {
  background-color: #e11b22;
  color: #fff; }
  .primaryBtn:hover {
    background-color: #fff;
    border: 1px solid #999;
    color: #e11b22;
    text-decoration: none; }

.secondaryBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #222; }
  .secondaryBtn:hover {
    background-color: #e11b22;
    border: 1px solid #999;
    color: #fff;
    text-decoration: none; }

.tertiaryBtn {
  background-color: #018ab1;
  color: #fff; }
  .tertiaryBtn:hover {
    background-color: #fff;
    border: 1px solid #018ab1;
    color: #018ab1;
    text-decoration: none; }

/*STATUS MULTIPLY BUTTONS*/
