/*VARIABLES
************/
/*Standard Multiply Buttons*/
/*Status Multiply Buttons*/
/*Dashboard Buttons*/
/*Financial Wellness Score*/
/*Healthy Heart Score*/
/*Active Dayz*/
/*Safe Dayz*/
/****************************
***Multiply Color Pallette***
*****************************/
.mtRed {
  background-color: #e11b22;
  font-weight: bold;
  padding: 3rem; }

.mtWhite {
  background-color: #fff;
  font-weight: bold;
  padding: 3rem; }

.mtBlue {
  background-color: #018ab1;
  font-weight: bold;
  padding: 3rem; }

.mtbronze {
  background-color: #a27151;
  font-weight: bold;
  padding: 3rem; }

.mtSilver {
  background-color: #ccc;
  font-weight: bold;
  padding: 3rem; }

.mtPlatinum {
  background-color: #a4adaf;
  font-weight: bold;
  padding: 3rem; }

.mtGold {
  background-color: #ad8d55;
  font-weight: bold;
  padding: 3rem; }

.mtOffWhite {
  background-color: #d7d7d7;
  font-weight: bold;
  padding: 3rem; }

.mtLightGrey {
  background-color: #ccc;
  font-weight: bold;
  padding: 3rem; }

.mtMidGrey {
  background-color: #9c9c9c;
  font-weight: bold;
  padding: 3rem; }

.mtMedGrey {
  background-color: #666;
  font-weight: bold;
  padding: 3rem; }

.mtDarkGrey {
  background-color: #999;
  font-weight: bold;
  padding: 3rem; }

.mtBlack {
  background-color: #222;
  font-weight: bold;
  padding: 3rem;
  color: #fff; }

/*MULTIPLY BUTTON SHPING AND ANIMATION
**************************************/
.btn {
  border-radius: 50px;
  text-shadow: none;
  /*text-transform: uppercase;*/
  padding: 10px 40px;
  transition: 0.5s; }
  .btn:hover {
    border-radius: 50px;
    text-shadow: none;
    padding: 10px 40px;
    transition: 0.5s; }

/*STANDARD MULTIPLY BUTTONS
****************************/
.primaryBtn {
  background-color: #e11b22;
  color: #fff; }
  .primaryBtn:hover {
    background-color: #fff;
    border: 1px solid #999;
    color: #e11b22;
    text-decoration: none; }

.secondaryBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #222; }
  .secondaryBtn:hover {
    background-color: #e11b22;
    border: 1px solid #999;
    color: #fff;
    text-decoration: none; }

.tertiaryBtn {
  background-color: #018ab1;
  color: #fff; }
  .tertiaryBtn:hover {
    background-color: #fff;
    border: 1px solid #018ab1;
    color: #018ab1;
    text-decoration: none; }

/*STATUS MULTIPLY BUTTONS
**************************/
.bronzeBtn {
  background-color: #a27151;
  color: #fff; }
  .bronzeBtn:hover {
    background-color: #fff;
    border: 1px solid #a27151;
    color: #a27151;
    text-decoration: none; }

.silverBtn {
  background-color: #ccc;
  color: #fff; }
  .silverBtn:hover {
    background-color: #fff;
    border: 1px solid #999;
    color: #999;
    text-decoration: none; }

.goldBtn {
  background-color: #ad8d55;
  color: #fff; }
  .goldBtn:hover {
    background-color: #fff;
    border: 1px solid #ad8d55;
    color: #ad8d55;
    text-decoration: none; }

.platinumBtn {
  background-color: #a4adaf;
  color: #fff; }
  .platinumBtn:hover {
    background-color: #fff;
    border: 1px solid #a4adaf;
    color: #a4adaf;
    text-decoration: none; }

.privateBtn {
  background-color: #e11b22;
  color: #fff; }
  .privateBtn:hover {
    background-color: #fff;
    border: 1px solid #e11b22;
    color: #e11b22;
    text-decoration: none; }

/*DASHBOARD MULTIPLY BUTTONS
****************************/
.fWBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #999; }
  .fWBtn:hover {
    background-color: #006f78;
    border: 1px solid #006f78;
    color: #fff;
    text-decoration: none; }

.hHSBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #999; }
  .hHSBtn:hover {
    background-color: #f26522;
    border: 1px solid #f26522;
    color: #fff;
    text-decoration: none; }

.aDBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #999; }
  .aDBtn:hover {
    background-color: #0d8cb2;
    border: 1px solid #0d8cb2;
    color: #fff;
    text-decoration: none; }

.sDBtn {
  background-color: #fff;
  border: 1px solid #999;
  color: #999; }
  .sDBtn:hover {
    background-color: #e11b22;
    border: 1px solid #e11b22;
    color: #fff;
    text-decoration: none; }
